doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Travisa - Visa &amp; Immigration Website Template
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    meta(content='', name='keywords')
    meta(content='', name='description')
    // Google Web Fonts
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600&display=swap', rel='stylesheet')
    // Icon Font Stylesheet
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.15.4/css/all.css')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css', rel='stylesheet')
    // Libraries Stylesheet
    link(href='lib/animate/animate.min.css', rel='stylesheet')
    link(href='lib/owlcarousel/assets/owl.carousel.min.css', rel='stylesheet')
    // Customized Bootstrap Stylesheet
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Template Stylesheet
    link(href='css/style.css', rel='stylesheet')
  body
    // Spinner Start
    #spinner.show.bg-white.position-fixed.translate-middle.w-100.vh-100.top-50.start-50.d-flex.align-items-center.justify-content-center
      .spinner-border.text-secondary(style='width: 3rem; height: 3rem;', role='status')
        span.sr-only Loading...
    // Spinner End
    // Topbar Start
    .container-fluid.bg-primary.px-5.d-none.d-lg-block
      .row.gx-0.align-items-center
        .col-lg-5.text-center.text-lg-start.mb-lg-0
          .d-flex
            a.text-muted.me-4(href='#')
              i.fas.fa-envelope.text-secondary.me-2
              | alhadaftravelajm@gmail.com
            a.text-muted.me-0(href='#')
              i.fas.fa-phone-alt.text-secondary.me-2
              | +971509724278
        .col-lg-3.row-cols-1.text-center.mb-2.mb-lg-0
          .d-inline-flex.align-items-center(style='height: 45px;')
            a.btn.btn-sm.btn-outline-light.btn-square.rounded-circle.me-2(href='')
              i.fab.fa-twitter.fw-normal.text-secondary
            a.btn.btn-sm.btn-outline-light.btn-square.rounded-circle.me-2(href='')
              i.fab.fa-facebook-f.fw-normal.text-secondary
            a.btn.btn-sm.btn-outline-light.btn-square.rounded-circle.me-2(href='')
              i.fab.fa-linkedin-in.fw-normal.text-secondary
            a.btn.btn-sm.btn-outline-light.btn-square.rounded-circle.me-2(href='')
              i.fab.fa-instagram.fw-normal.text-secondary
            a.btn.btn-sm.btn-outline-light.btn-square.rounded-circle(href='')
              i.fab.fa-youtube.fw-normal.text-secondary
        .col-lg-4.text-center.text-lg-end
          .d-inline-flex.align-items-center(style='height: 45px;')
            a.text-muted.me-2(href='#')  Help
            small  / 
            a.text-muted.mx-2(href='#')  Support
            small  / 
            a.text-muted.ms-2(href='#')  Contact
    // Topbar End
    // Navbar & Hero Start
    .container-fluid.nav-bar.p-0
      nav.navbar.navbar-expand-lg.navbar-light.bg-white.px-4.px-lg-5.py-3.py-lg-0
        a.navbar-brand.p-0(href='')
          h1.display-5.text-secondary.m-0
            img.img-fluid(src='img/logo.png', alt='')
          // <img src="img/logo.png" alt="Logo">
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarCollapse')
          span.fa.fa-bars
        #navbarCollapse.collapse.navbar-collapse
          .navbar-nav.ms-auto.py-0
            a.nav-item.nav-link(href='/') Home
            a.nav-item.nav-link(href='about') About
            a.nav-item.nav-link(href='service') Service
            //- .nav-item.dropdown
            //-   a.nav-link.active(href='#', data-bs-toggle='dropdown')
            //-     span.dropdown-toggle Pages
            //-   .dropdown-menu.m-0
            //-     a.dropdown-item.active(href='feature') Feature
            //-     a.dropdown-item(href='countries') Countries
            //-     a.dropdown-item(href='testimonial') Testimonial
            //-     a.dropdown-item(href='training') Training
            //-     a.dropdown-item(href='404') 404 Page
            a.nav-item.nav-link(href='contact') Contact
          button.btn.btn-primary.btn-md-square.border-secondary.mb-3.mb-md-3.mb-lg-0.me-3(data-bs-toggle='modal', data-bs-target='#searchModal')
            i.fas.fa-search
          a.btn.btn-primary.border-secondary.rounded-pill.py-2.px-4.px-lg-3.mb-3.mb-md-3.mb-lg-0(href='') Get A Quote
    // Navbar & Hero End
    // Modal Search Start
    #searchModal.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog.modal-fullscreen
        .modal-content.rounded-0
          .modal-header
            h4#exampleModalLabel.modal-title.text-secondary.mb-0 Search by keyword
            button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
          .modal-body.d-flex.align-items-center
            .input-group.w-75.mx-auto.d-flex
              input.form-control.p-3(type='search', placeholder='keywords', aria-describedby='search-icon-1')
              span#search-icon-1.input-group-text.p-3
                i.fa.fa-search
    // Modal Search End
    // Header Start
    .container-fluid.bg-breadcrumb
      .container.text-center.py-5(style='max-width: 900px;')
        h3.text-white.display-3.mb-4.wow.fadeInDown(data-wow-delay='0.1s') Our Features
        ol.breadcrumb.justify-content-center.text-white.mb-0.wow.fadeInDown(data-wow-delay='0.3s')
          li.breadcrumb-item
            a.text-white(href='/') Home
          li.breadcrumb-item
            a.text-white(href='#') Pages
          li.breadcrumb-item.active.text-secondary Features
    // Header End
    // Features Start
    .container-fluid.features.overflow-hidden.py-5
      .container.py-5
        .section-title.text-center.mb-5.wow.fadeInUp(data-wow-delay='0.1s')
          .sub-style
            h5.sub-title.text-primary.px-3 Why Choose Us
          h1.display-5.mb-4 Offer Tailor Made Services That Our Client Requires
          p.mb-0
            |Choose us for tailor-made services designed to meet your immigration needs. Our expert team delivers customized solutions, exceptional support, and seamless processes, ensuring your journey is efficient, successful, and stress-free.
        .row.g-4.justify-content-center.text-center
          .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.1s')
            .feature-item.text-center.p-4
              .feature-icon.p-3.mb-4
                i.fas.fa-dollar-sign.fa-4x.text-primary
              .feature-content.d-flex.flex-column
                h5.mb-3 Cost-Effective
                p.mb-3 Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus,
                a.btn.btn-secondary.rounded-pill(href='#')
                  | Read More
                  i.fas.fa-arrow-right.ms-2
          .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.3s')
            .feature-item.text-center.p-4
              .feature-icon.p-3.mb-4
                i.fab.fa-cc-visa.fa-4x.text-primary
              .feature-content.d-flex.flex-column
                h5.mb-3 Visa Assistance
                p.mb-3 Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus,
                a.btn.btn-secondary.rounded-pill(href='#')
                  | Read More
                  i.fas.fa-arrow-right.ms-2
          .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.5s')
            .feature-item.text-center.p-4
              .feature-icon.p-3.mb-4
                i.fas.fa-atlas.fa-4x.text-primary
              .feature-content.d-flex.flex-column
                h5.mb-3 Faster Processing
                p.mb-3 Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus,
                a.btn.btn-secondary.rounded-pill(href='#')
                  | Read More
                  i.fas.fa-arrow-right.ms-2
          .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.7s')
            .feature-item.text-center.p-4
              .feature-icon.p-3.mb-4
                i.fas.fa-users.fa-4x.text-primary
              .feature-content.d-flex.flex-column
                h5.mb-3 Direct Interviews
                p.mb-3 Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus,
                a.btn.btn-secondary.rounded-pill(href='#')
                  | Read More
                  i.fas.fa-arrow-right.ms-2
          .col-12
            a.btn.btn-primary.border-secondary.rounded-pill.py-3.px-5.wow.fadeInUp(data-wow-delay='0.1s', href='#') More Features
    // Features End
    // Counter Facts Start
    .container-fluid.counter-facts.overflow-hidden.py-5
      .container.py-5
        .row.g-4
          .col-12.col-sm-6.col-md-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.1s')
            .counter
              .counter-icon
                i.fas.fa-passport
              .counter-content
                h3 Visa Categories
                .d-flex.align-items-center.justify-content-center
                  span.counter-value(data-toggle='counter-up') 31
                  h4.text-secondary.mb-0(style='font-weight: 600; font-size: 25px;') +
          .col-12.col-sm-6.col-md-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.3s')
            .counter
              .counter-icon
                i.fas.fa-users
              .counter-content
                h3 Team Members
                .d-flex.align-items-center.justify-content-center
                  span.counter-value(data-toggle='counter-up') 377
                  h4.text-secondary.mb-0(style='font-weight: 600; font-size: 25px;') +
          .col-12.col-sm-6.col-md-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.5s')
            .counter
              .counter-icon
                i.fas.fa-user-check
              .counter-content
                h3 Visa Process
                .d-flex.align-items-center.justify-content-center
                  span.counter-value(data-toggle='counter-up') 4.9
                  h4.text-secondary.mb-0(style='font-weight: 600; font-size: 25px;') K
          .col-12.col-sm-6.col-md-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.7s')
            .counter
              .counter-icon
                i.fas.fa-handshake
              .counter-content
                h3 Success Rates
                .d-flex.align-items-center.justify-content-center
                  span.counter-value(data-toggle='counter-up') 98
                  h4.text-secondary.mb-0(style='font-weight: 600; font-size: 25px;') %
    // Counter Facts End
    // Countries We Offer Start
    .container-fluid.country.overflow-hidden.py-5
      .container.py-5
        .section-title.text-center.wow.fadeInUp(data-wow-delay='0.1s', style='margin-bottom: 70px;')
          .sub-style
            h5.sub-title.text-primary.px-3 COUNTRIES WE OFFER
          h1.display-5.mb-4 Immigration &amp; visa services following Countries
          p.mb-0
            | We provide immigration and visa services across a diverse range of countries. Our expert team offers tailored guidance and efficient processes, ensuring seamless travel, relocation, and international opportunities with excellence.
        .row.g-4.text-center
          .col-lg-6.col-xl-3.mb-5.mb-xl-0.wow.fadeInUp(data-wow-delay='0.1s')
            .country-item
              .rounded.overflow-hidden
                img.img-fluid.w-100.rounded(src='img/country-1.jpg', alt='Image')
              .country-flag
                img.img-fluid.rounded-circle(src='img/brazil.jpg', alt='Image')
              .country-name
                a.text-white.fs-4(href='#') Brazil
          .col-lg-6.col-xl-3.mb-5.mb-xl-0.wow.fadeInUp(data-wow-delay='0.3s')
            .country-item
              .rounded.overflow-hidden
                img.img-fluid.w-100.rounded(src='img/country-2.jpg', alt='Image')
              .country-flag
                img.img-fluid.rounded-circle(src='img/india.jpg', alt='Image')
              .country-name
                a.text-white.fs-4(href='#') india
          .col-lg-6.col-xl-3.mb-5.mb-xl-0.wow.fadeInUp(data-wow-delay='0.5s')
            .country-item
              .rounded.overflow-hidden
                img.img-fluid.w-100.rounded(src='img/country-3.jpg', alt='Image')
              .country-flag
                img.img-fluid.rounded-circle(src='img/usa.jpg', alt='Image')
              .country-name
                a.text-white.fs-4(href='#') New York
          .col-lg-6.col-xl-3.mb-5.mb-xl-0.wow.fadeInUp(data-wow-delay='0.7s')
            .country-item
              .rounded.overflow-hidden
                img.img-fluid.w-100.rounded(src='img/country-4.jpg', alt='Image')
              .country-flag
                img.img-fluid.rounded-circle(src='img/italy.jpg', alt='Image')
              .country-name
                a.text-white.fs-4(href='#') Italy
          .col-12
            a.btn.btn-primary.border-secondary.rounded-pill.py-3.px-5.wow.fadeInUp(data-wow-delay='0.1s', href='#') More Countries
    // Countries We Offer End
    // Footer Start
    .container-fluid.footer.py-5.wow.fadeIn(data-wow-delay='0.2s')
      .container.py-5
        .row.g-5
          .col-md-6.col-lg-6.col-xl-3
            .footer-item.d-flex.flex-column
              h4.text-secondary.mb-4 Contact Info
              a(href='')
                i.fa.fa-map-marker-alt.me-2
                |  Shop #09 Near Lucky Round About Industrial Area 2, Ajman UAE
              a(href='')
                i.fas.fa-envelope.me-2
                |  alhadaftravelajm@gmail.com
              a(href='')
                i.fas.fa-phone.me-2
                |  +971509724278
              .d-flex.align-items-center
                i.fas.fa-share.fa-2x.text-secondary.me-2
                a.btn.mx-1(href='')
                  i.fab.fa-facebook-f
                a.btn.mx-1(href='')
                  i.fab.fa-twitter
                a.btn.mx-1(href='')
                  i.fab.fa-instagram
                a.btn.mx-1(href='')
                  i.fab.fa-linkedin-in
          .col-md-6.col-lg-6.col-xl-3
            .footer-item.d-flex.flex-column
              h4.text-secondary.mb-4 Opening Time
              .mb-3
                h6.text-muted.mb-0 Mon - Friday:
                p.text-white.mb-0 09.00 am to 07.00 pm
              .mb-3
                h6.text-muted.mb-0 Satday:
                p.text-white.mb-0 10.00 am to 05.00 pm
              .mb-3
                h6.text-muted.mb-0 Vacation:
                p.text-white.mb-0 All Sunday is our vacation
          .col-md-6.col-lg-6.col-xl-3
            .footer-item.d-flex.flex-column
              h4.text-secondary.mb-4 Our Services
              a(href='#')
                i.fas.fa-angle-right.me-2
                |  Business
              a(href='#')
                i.fas.fa-angle-right.me-2
                |  Evaluation
              a(href='#')
                i.fas.fa-angle-right.me-2
                |  Migrate
              a(href='#')
                i.fas.fa-angle-right.me-2
                |  Study
              a(href='#')
                i.fas.fa-angle-right.me-2
                |  Counselling
              a(href='#')
                i.fas.fa-angle-right.me-2
                |  Work / Career
          .col-md-6.col-lg-6.col-xl-3
            .footer-item
              h4.text-secondary.mb-4 Newsletter
              p.text-white.mb-3
                | Dolor amet sit justo amet elitr clita ipsum elitr est.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .position-relative.mx-auto.rounded-pill
                input.form-control.border-0.rounded-pill.w-100.py-3.ps-4.pe-5(type='text', placeholder='Enter your email')
                button.btn.btn-primary.rounded-pill.position-absolute.top-0.end-0.py-2.mt-2.me-2(type='button') SignUp
    // Footer End
    // Copyright Start
    .container-fluid.copyright.py-4
      .container
        .row.g-4.align-items-center
          .col-md-6.text-center.text-md-start.mb-md-0
            span.text-white
              a.border-bottom.text-white(href='#')
                i.fas.fa-copyright.text-light.me-2
                | Your Site Name
              | , All right reserved.
          .col-md-6.text-center.text-md-end.text-white
            // /*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/
            // /*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/
            // /*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/
            | Designed By 
            a.border-bottom.text-white(href='https://htmlcodex.com') HTML Codex
    // Copyright End
    // Back to Top
    a.btn.btn-primary.btn-lg-square.back-to-top(href='#')
      i.fa.fa-arrow-up
    // JavaScript Libraries
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js')
    script(src='lib/wow/wow.min.js')
    script(src='lib/easing/easing.min.js')
    script(src='lib/waypoints/waypoints.min.js')
    script(src='lib/counterup/counterup.min.js')
    script(src='lib/owlcarousel/owl.carousel.min.js')
    // Template Javascript
    script(src='js/main.js')