//-  .container-fluid.footer.py-5.wow.fadeIn(data-wow-delay='0.2s')
//-       .container.py-5
//-         .row.g-5
//-           .col-md-6.col-lg-6.col-xl-3
//-             .footer-item.d-flex.flex-column
//-               h4.text-secondary.mb-4 Contact Info
//-               a(href='')
//-                 i.fa.fa-map-marker-alt.me-2
//-                 |  123 Street, New York, USA
//-               a(href='')
//-                 i.fas.fa-envelope.me-2
//-                 |  alhadaftravelajm@gmail.com
//-               a(href='')
//-                 i.fas.fa-phone.me-2
//-                 |  +971509724278
//-             
//-               .d-flex.align-items-center
//-                 i.fas.fa-share.fa-2x.text-secondary.me-2
//-                 a.btn.mx-1(href='')
//-                   i.fab.fa-facebook-f
//-                 a.btn.mx-1(href='')
//-                   i.fab.fa-twitter
//-                 a.btn.mx-1(href='')
//-                   i.fab.fa-instagram
//-                 a.btn.mx-1(href='')
//-                   i.fab.fa-linkedin-in
//-           .col-md-6.col-lg-6.col-xl-3
//-             .footer-item.d-flex.flex-column
//-               h4.text-secondary.mb-4 Opening Time
//-               .mb-3
//-                 h6.text-muted.mb-0 Mon - Friday:
//-                 p.text-white.mb-0 09.00 am to 07.00 pm
//-               .mb-3
//-                 h6.text-muted.mb-0 Satday:
//-                 p.text-white.mb-0 10.00 am to 05.00 pm
//-               .mb-3
//-                 h6.text-muted.mb-0 Vacation:
//-                 p.text-white.mb-0 All Sunday is our vacation
//-           .col-md-6.col-lg-6.col-xl-3
//-             .footer-item.d-flex.flex-column
//-               h4.text-secondary.mb-4 Our Services
//-               a(href='#')
//-                 i.fas.fa-angle-right.me-2
//-                 |  Business
//-               a(href='#')
//-                 i.fas.fa-angle-right.me-2
//-                 |  Evaluation
//-               a(href='#')
//-                 i.fas.fa-angle-right.me-2
//-                 |  Migrate
//-               a(href='#')
//-                 i.fas.fa-angle-right.me-2
//-                 |  Study
//-               a(href='#')
//-                 i.fas.fa-angle-right.me-2
//-                 |  Counselling
//-               a(href='#')
//-                 i.fas.fa-angle-right.me-2
//-                 |  Work / Career
//-           .col-md-6.col-lg-6.col-xl-3
//-             .footer-item
//-               h4.text-secondary.mb-4 Newsletter
//-               p.text-white.mb-3
//-                 | Dolor amet sit justo amet elitr clita ipsum elitr est.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
//-               .position-relative.mx-auto.rounded-pill
//-                 input.form-control.border-0.rounded-pill.w-100.py-3.ps-4.pe-5(type='text', placeholder='Enter your email')
//-                 button.btn.btn-primary.rounded-pill.position-absolute.top-0.end-0.py-2.mt-2.me-2(type='button') SignUp