doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Al Hadaf Travels &amp; Immigration
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    meta(content='', name='keywords')
    meta(content='', name='description')
    // Google Web Fonts
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600&display=swap', rel='stylesheet')
    // Icon Font Stylesheet
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.15.4/css/all.css')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css', rel='stylesheet')
    // Libraries Stylesheet
    link(href='lib/animate/animate.min.css', rel='stylesheet')
    link(href='lib/owlcarousel/assets/owl.carousel.min.css', rel='stylesheet')
    // Customized Bootstrap Stylesheet
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Template Stylesheet
    link(href='css/style.css', rel='stylesheet')
  body
    // Spinner Start
    #spinner.show.bg-white.position-fixed.translate-middle.w-100.vh-100.top-50.start-50.d-flex.align-items-center.justify-content-center
      .spinner-border.text-secondary(style='width: 3rem; height: 3rem;', role='status')
        span.sr-only Loading...
    // Spinner End
    // Topbar Start
    .container-fluid.bg-primary.px-5.d-none.d-lg-block
      .row.gx-0.align-items-center
        .col-lg-5.text-center.text-lg-start.mb-lg-0
          .d-flex
            a.text-muted.me-4(href='#')
              i.fas.fa-envelope.text-secondary.me-2
              | alhadaftravelajm@gmail.com
            a.text-muted.me-0(href='#')
              i.fas.fa-phone-alt.text-secondary.me-2
              | +971509724278
        .col-lg-3.row-cols-1.text-center.mb-2.mb-lg-0
          .d-inline-flex.align-items-center(style='height: 45px;')
            a.btn.btn-sm.btn-outline-light.btn-square.rounded-circle.me-2(href='')
              i.fab.fa-twitter.fw-normal.text-secondary
            a.btn.btn-sm.btn-outline-light.btn-square.rounded-circle.me-2(href='')
              i.fab.fa-facebook-f.fw-normal.text-secondary
            a.btn.btn-sm.btn-outline-light.btn-square.rounded-circle.me-2(href='')
              i.fab.fa-linkedin-in.fw-normal.text-secondary
            a.btn.btn-sm.btn-outline-light.btn-square.rounded-circle.me-2(href='')
              i.fab.fa-instagram.fw-normal.text-secondary
            a.btn.btn-sm.btn-outline-light.btn-square.rounded-circle(href='')
              i.fab.fa-youtube.fw-normal.text-secondary
        .col-lg-4.text-center.text-lg-end
          .d-inline-flex.align-items-center(style='height: 45px;')
            a.text-muted.me-2(href='#')  Help
            small  / 
            a.text-muted.mx-2(href='#')  Support
            small  / 
            a.text-muted.ms-2(href='#')  Contact
    // Topbar End
    // Navbar & Hero Start
    .container-fluid.nav-bar.p-0
      nav.navbar.navbar-expand-lg.navbar-light.bg-white.px-4.px-lg-5.py-3.py-lg-0
        a.navbar-brand.p-0(href='')
          h1.display-5.text-secondary.m-0
            img.img-fluid(src='img/logo.png', alt='')
          // <img src="img/logo.png" alt="Logo">
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarCollapse')
          span.fa.fa-bars
        #navbarCollapse.collapse.navbar-collapse
          .navbar-nav.ms-auto.py-0
            a.nav-item.nav-link.active(href='/') Home
            a.nav-item.nav-link(href='about') About
            a.nav-item.nav-link(href='service') Service
            //- .nav-item.dropdown
            //-   a.nav-link(href='#', data-bs-toggle='dropdown')
            //-     span.dropdown-toggle Pages
            //-   .dropdown-menu.m-0
            //-     a.dropdown-item(href='feature') Feature
            //-     a.dropdown-item(href='countries') Countries
            //-     a.dropdown-item(href='testimonial') Testimonial
            //-     a.dropdown-item(href='training') Training
            //-     a.dropdown-item(href='404') 404 Page
            a.nav-item.nav-link(href='contact') Contact
          button.btn.btn-primary.btn-md-square.border-secondary.mb-3.mb-md-3.mb-lg-0.me-3(data-bs-toggle='modal', data-bs-target='#searchModal')
            i.fas.fa-search
          a.btn.btn-primary.border-secondary.rounded-pill.py-2.px-4.px-lg-3.mb-3.mb-md-3.mb-lg-0(href='') Booking
    // Navbar & Hero End
    // Carousel Start
    .carousel-header
      #carouselId.carousel.slide(data-bs-ride='carousel')
        ol.carousel-indicators
          li.active(data-bs-target='#carouselId', data-bs-slide-to='0')
          li(data-bs-target='#carouselId', data-bs-slide-to='1')
        .carousel-inner(role='listbox')
          .carousel-item.active
            img.img-fluid(src='img/carousel-1.jpg', alt='Image')
            .carousel-caption
              .text-center.p-4(style='max-width: 900px;')
                h4.text-white.text-uppercase.fw-bold.mb-3.mb-md-4.wow.fadeInUp(data-wow-delay='0.1s') Solution For All Type Of Visas
                h1.display-1.text-capitalize.text-white.mb-3.mb-md-4.wow.fadeInUp(data-wow-delay='0.3s') Immigration Process Starts Here!
                p.text-white.mb-4.mb-md-5.fs-5.wow.fadeInUp(data-wow-delay='0.5s')
                  |Embark on your international journey with our dedicated visa services. Our knowledgeable team simplifies the application process, ensuring your documentation is accurate and complete. We provide expert guidance tailored to every visa type, from work permits to student visas, enabling a seamless transition to your new destination.
                a.btn.btn-primary.border-secondary.rounded-pill.text-white.py-3.px-5.wow.fadeInUp(data-wow-delay='0.7s', href='#') More Details
          .carousel-item
            img.img-fluid(src='img/carousel-2.jpg', alt='Image')
            .carousel-caption
              .text-center.p-4(style='max-width: 900px;')
                h5.text-white.text-uppercase.fw-bold.mb-3.mb-md-4.wow.fadeInUp(data-wow-delay='0.1s') Solution For All Type Of Visas
                h1.display-1.text-capitalize.text-white.mb-3.mb-md-4.wow.fadeInUp(data-wow-delay='0.3s') Best Visa Immigrations Services
                p.text-white.mb-4.mb-md-5.fs-5.wow.fadeInUp(data-wow-delay='0.5s')
                  | Embark on your international journey with our dedicated visa services. Our knowledgeable team simplifies the application process, ensuring your documentation is accurate and complete. We provide expert guidance tailored to every visa type, from work permits to student visas, enabling a seamless transition to your new destination.
                a.btn.btn-primary.border-secondary.rounded-pill.text-white.py-3.px-5.wow.fadeInUp(data-wow-delay='0.7s', href='#') More Details
        button.carousel-control-prev(type='button', data-bs-target='#carouselId', data-bs-slide='prev')
          span.carousel-control-prev-icon.bg-secondary.wow.fadeInLeft(data-wow-delay='0.2s', aria-hidden='false')
          span.visually-hidden-focusable Previous
        button.carousel-control-next(type='button', data-bs-target='#carouselId', data-bs-slide='next')
          span.carousel-control-next-icon.bg-secondary.wow.fadeInRight(data-wow-delay='0.2s', aria-hidden='false')
          span.visually-hidden-focusable Next
    // Carousel End
    // Modal Search Start
    #searchModal.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog.modal-fullscreen
        .modal-content.rounded-0
          .modal-header
            h4#exampleModalLabel.modal-title.text-secondary.mb-0 Search by keyword
            button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
          .modal-body.d-flex.align-items-center
            .input-group.w-75.mx-auto.d-flex
              input.form-control.p-3(type='search', placeholder='keywords', aria-describedby='search-icon-1')
              span#search-icon-1.input-group-text.p-3
                i.fa.fa-search
    // Modal Search End
    // About Start
    .container-fluid.py-5
      .container.py-5
        .row.g-5
          .col-xl-5.wow.fadeInLeft(data-wow-delay='0.1s')
            .bg-light.rounded
              img.img-fluid.w-100(src='img/about-2.png', style='margin-bottom: -7px;', alt='Image')
              img.img-fluid.w-100.border-bottom.border-5.border-primary(src='img/about-3.jpg', style='border-top-right-radius: 300px; border-top-left-radius: 300px;', alt='Image')
          .col-xl-7.wow.fadeInRight(data-wow-delay='0.3s')
            h5.sub-title.pe-3 About the company
            h1.display-5.mb-4 We&rsquo;re Trusted Immigration Consultant Agency.
            p.mb-4
              | Experience seamless immigration with our trusted consultancy. Our dedicated experts provide personalized support for every step of your journey, ensuring clarity, efficiency, and success. We simplify complex processes and deliver tailored solutions, enabling you to confidently pursue exciting global opportunities.
            .row.gy-4.align-items-center
              .col-12.col-sm-6.d-flex.align-items-center
                i.fas.fa-map-marked-alt.fa-3x.text-secondary
                h5.ms-4 Best Immigration Resources
              .col-12.col-sm-6.d-flex.align-items-center
                i.fas.fa-passport.fa-3x.text-secondary
                h5.ms-4 Return Visas Availabile
              .col-4.col-md-3
                .bg-light.text-center.rounded.p-3
                  .mb-2
                    i.fas.fa-ticket-alt.fa-4x.text-primary
                  h1.display-5.fw-bold.mb-2 34
                  p.text-muted.mb-0 Years of Experience
              .col-8.col-md-9
                .mb-5
                  p.text-primary.h6.mb-3
                    i.fa.fa-check-circle.text-secondary.me-2
                    |  Offer 100 % Genuine Assistance
                  p.text-primary.h6.mb-3
                    i.fa.fa-check-circle.text-secondary.me-2
                    |  It&rsquo;s Faster &amp; Reliable Execution
                  p.text-primary.h6.mb-3
                    i.fa.fa-check-circle.text-secondary.me-2
                    |  Accurate &amp; Expert Advice
                .d-flex.flex-wrap
                  #phone-tada.d-flex.align-items-center.justify-content-center.me-4
                    a.position-relative.wow.tada(href='', data-wow-delay='.9s')
                      i.fa.fa-phone-alt.text-primary.fa-3x
                      .position-absolute(style='top: 0; left: 25px;')
                        span
                          i.fa.fa-comment-dots.text-secondary
                  .d-flex.flex-column.justify-content-center
                    span.text-primary Have any questions?
                    span.text-secondary.fw-bold.fs-5(style='letter-spacing: 2px;') Free: +971509724278
    // About End
    // Counter Facts Start
    .container-fluid.counter-facts.py-5
      .container.py-5
        .row.g-4
          .col-12.col-sm-6.col-md-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.1s')
            .counter
              .counter-icon
                i.fas.fa-passport
              .counter-content
                h3 Visa Categories
                .d-flex.align-items-center.justify-content-center
                  span.counter-value(data-toggle='counter-up') 31
                  h4.text-secondary.mb-0(style='font-weight: 600; font-size: 25px;') +
          .col-12.col-sm-6.col-md-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.3s')
            .counter
              .counter-icon
                i.fas.fa-users
              .counter-content
                h3 Team Members
                .d-flex.align-items-center.justify-content-center
                  span.counter-value(data-toggle='counter-up') 377
                  h4.text-secondary.mb-0(style='font-weight: 600; font-size: 25px;') +
          .col-12.col-sm-6.col-md-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.5s')
            .counter
              .counter-icon
                i.fas.fa-user-check
              .counter-content
                h3 Visa Process
                .d-flex.align-items-center.justify-content-center
                  span.counter-value(data-toggle='counter-up') 4.9
                  h4.text-secondary.mb-0(style='font-weight: 600; font-size: 25px;') K
          .col-12.col-sm-6.col-md-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.7s')
            .counter
              .counter-icon
                i.fas.fa-handshake
              .counter-content
                h3 Success Rates
                .d-flex.align-items-center.justify-content-center
                  span.counter-value(data-toggle='counter-up') 98
                  h4.text-secondary.mb-0(style='font-weight: 600; font-size: 25px;') %
    // Counter Facts End
    // Services Start
    .container-fluid.service.overflow-hidden.pt-5
      .container.py-5
        .section-title.text-center.mb-5.wow.fadeInUp(data-wow-delay='0.1s')
          .sub-style
            h5.sub-title.text-primary.px-3 Visa Categories
          h1.display-5.mb-4 Enabling Your Immigration Successfully
          p.mb-0
            | Explore our comprehensive visa categories designed to enable your immigration journey successfully. Our expert guidance covers every option, from student and work visas to family and investor pathways. We simplify complex procedures with personalized support, ensuring clear, efficient processing and a smooth transition into your new life abroad for success.
        .row.g-4
          .col-lg-6.col-xl-4.wow.fadeInUp(data-wow-delay='0.1s')
            .service-item
              .service-inner
                .service-img
                  img.img-fluid.w-100.rounded(src='img/service-1.jpg', alt='Image')
                .service-title
                  .service-title-name
                    .bg-primary.text-center.rounded.p-3.mx-5.mb-4
                      a.h4.text-white.mb-0(href='#') Job Visa
                    a.btn.bg-light.text-secondary.rounded-pill.py-3.px-5.mb-4(href='#') Explore More
                  .service-content.pb-4
                    a(href='#')
                      h4.text-white.mb-4.py-3 Job Visa
                    .px-4
                      p.mb-4
                        |Unlock international career opportunities with our expert Job Visa services. We guide you through every step, ensuring precise documentation and timely approvals for a seamless application process and professional success.
                      a.btn.btn-primary.border-secondary.rounded-pill.py-3.px-5(href='#') Explore More
          .col-lg-6.col-xl-4.wow.fadeInUp(data-wow-delay='0.3s')
            .service-item
              .service-inner
                .service-img
                  img.img-fluid.w-100.rounded(src='img/service-2.jpg', alt='Image')
                .service-title
                  .service-title-name
                    .bg-primary.text-center.rounded.p-3.mx-5.mb-4
                      a.h4.text-white.mb-0(href='#') Business Visa
                    a.btn.bg-light.text-secondary.rounded-pill.py-3.px-5.mb-4(href='#') Explore More
                  .service-content.pb-4
                    a(href='#')
                      h4.text-white.mb-4.py-3 Business Visa
                    .px-4
                      p.mb-4
                        | Elevate your enterprise with our Business Visa service. Our expert consultants ensure smooth application processes, thorough documentation, and strategic support for global market expansion. Achieve success and seize international opportunities.
                      a.btn.btn-primary.border-secondary.rounded-pill.text-white.py-3.px-5(href='#') Explore More
          .col-lg-6.col-xl-4.wow.fadeInUp(data-wow-delay='0.5s')
            .service-item
              .service-inner
                .service-img
                  img.img-fluid.w-100.rounded(src='img/service-3.jpg', alt='Image')
                .service-title
                  .service-title-name
                    .bg-primary.text-center.rounded.p-3.mx-5.mb-4
                      a.h4.text-white.mb-0(href='#') Diplometic Visa
                    a.btn.bg-light.text-secondary.rounded-pill.py-3.px-5.mb-4(href='#') Explore More
                  .service-content.pb-4
                    a(href='#')
                      h4.text-white.mb-4.py-3 Diplometic Visa
                    .px-4
                      p.mb-4
                        | Access international diplomatic missions effortlessly with our Diplometic Visa service. Our expert team ensures documentation, prompt processing, and secure entry for officials. Rely on us for reliable, efficient travel solutions.
                      a.btn.btn-primary.border-secondary.rounded-pill.text-white.py-3.px-5(href='#') Explore More
          .col-lg-6.col-xl-4.wow.fadeInUp(data-wow-delay='0.1s')
            .service-item
              .service-inner
                .service-img
                  img.img-fluid.w-100.rounded(src='img/service-1.jpg', alt='Image')
                .service-title
                  .service-title-name
                    .bg-primary.text-center.rounded.p-3.mx-5.mb-4
                      a.h4.text-white.mb-0(href='#') Students Visa
                    a.btn.bg-light.text-secondary.rounded-pill.py-3.px-5.mb-4(href='#') Explore More
                  .service-content.pb-4
                    a(href='#')
                      h4.text-white.mb-4.py-3 Students Visa
                    .px-4
                      p.mb-4
                        |Embark on your education journey with our Student Visa service. Our expert guidance ensures a seamless application process, thorough documentation, and timely approvals, empowering you to pursue academic excellence abroad.
                      a.btn.btn-primary.border-secondary.rounded-pill.text-white.py-3.px-5(href='#') Explore More
          .col-lg-6.col-xl-4.wow.fadeInUp(data-wow-delay='0.3s')
            .service-item
              .service-inner
                .service-img
                  img.img-fluid.w-100.rounded(src='img/service-2.jpg', alt='Image')
                .service-title
                  .service-title-name
                    .bg-primary.text-center.rounded.p-3.mx-5.mb-4
                      a.h4.text-white.mb-0(href='#') Residence Visa
                    a.btn.bg-light.text-secondary.rounded-pill.py-3.px-5.mb-4(href='#') Explore More
                  .service-content.pb-4
                    a(href='#')
                      h4.text-white.mb-4.py-3 Residence Visa
                    .px-4
                      p.mb-4
                        | Discover your new home abroad with our Residence Visa service. We guide you through the application process with expert advice, detailed documentation, and swift processing for a secure relocation experience.
                      a.btn.btn-primary.border-secondary.rounded-pill.text-white.py-3.px-5(href='#') Explore More
          .col-lg-6.col-xl-4.wow.fadeInUp(data-wow-delay='0.5s')
            .service-item
              .service-inner
                .service-img
                  img.img-fluid.w-100.rounded(src='img/service-3.jpg', alt='Image')
                .service-title
                  .service-title-name
                    .bg-primary.text-center.rounded.p-3.mx-5.mb-4
                      a.h4.text-white.mb-0(href='#') Tourist Visa
                    a.btn.bg-light.text-secondary.rounded-pill.py-3.px-5.mb-4(href='#') Explore More
                  .service-content.pb-4
                    a(href='#')
                      h4.text-white.mb-4.py-3 Tourist Visa
                    .px-4
                      p.mb-4
                        | Explore the world effortlessly with our Tourist Visa service. Our expert team ensures a streamlined application, accurate documentation, and swift approval, letting you experience new cultures and unforgettable adventures today.
                      a.btn.btn-primary.border-secondary.rounded-pill.text-white.py-3.px-5(href='#') Explore More
    // Services End
    // Features Start
    .container-fluid.features.overflow-hidden.py-5
      .container
        .section-title.text-center.mb-5.wow.fadeInUp(data-wow-delay='0.1s')
          .sub-style
            h5.sub-title.text-primary.px-3 Why Choose Us
          h1.display-5.mb-4 Offer Tailor Made Services That Our Client Requires
          p.mb-0
            | At our trusted agency, we offer tailor-made services that perfectly meet each client's unique requirements. Our experienced team listens carefully, designs customized solutions, and executes every project with precision, ensuring exceptional quality, reliability, and lasting success for your business endeavors.
        .row.g-4.justify-content-center.text-center
          .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.1s')
            .feature-item.text-center.p-4
              .feature-icon.p-3.mb-4
                i.fas.fa-dollar-sign.fa-4x.text-primary
              .feature-content.d-flex.flex-column
                h5.mb-3 Cost-Effective
                p.mb-3 Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus,
                a.btn.btn-secondary.rounded-pill(href='#')
                  | Read More
                  i.fas.fa-arrow-right.ms-2
          .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.3s')
            .feature-item.text-center.p-4
              .feature-icon.p-3.mb-4
                i.fab.fa-cc-visa.fa-4x.text-primary
              .feature-content.d-flex.flex-column
                h5.mb-3 Visa Assistance
                p.mb-3 Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus,
                a.btn.btn-secondary.rounded-pill(href='#')
                  | Read More
                  i.fas.fa-arrow-right.ms-2
          .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.5s')
            .feature-item.text-center.p-4
              .feature-icon.p-3.mb-4
                i.fas.fa-atlas.fa-4x.text-primary
              .feature-content.d-flex.flex-column
                h5.mb-3 Faster Processing
                p.mb-3 Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus,
                a.btn.btn-secondary.rounded-pill(href='#')
                  | Read More
                  i.fas.fa-arrow-right.ms-2
          .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.7s')
            .feature-item.text-center.p-4
              .feature-icon.p-3.mb-4
                i.fas.fa-users.fa-4x.text-primary
              .feature-content.d-flex.flex-column
                h5.mb-3 Direct Interviews
                p.mb-3 Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus,
                a.btn.btn-secondary.rounded-pill(href='#')
                  | Read More
                  i.fas.fa-arrow-right.ms-2
          .col-12
            a.btn.btn-primary.border-secondary.rounded-pill.py-3.px-5.wow.fadeInUp(data-wow-delay='0.1s', href='#') More Features
    // Features End
    // Countries We Offer Start
    .container-fluid.country.overflow-hidden.py-5
      .container
        .section-title.text-center.wow.fadeInUp(data-wow-delay='0.1s', style='margin-bottom: 70px;')
          .sub-style
            h5.sub-title.text-primary.px-3 COUNTRIES WE OFFER
          h1.display-5.mb-4 Immigration &amp; visa services following Countries
          p.mb-0
            | We provide immigration and visa services across a diverse range of countries. Our expert team offers tailored guidance and efficient processes, ensuring seamless travel, relocation, and international opportunities with excellence.
        .row.g-4.text-center
          .col-lg-6.col-xl-3.mb-5.mb-xl-0.wow.fadeInUp(data-wow-delay='0.1s')
            .country-item
              .rounded.overflow-hidden
                img.img-fluid.w-100.rounded(src='img/country-1.jpg', alt='Image')
              .country-flag
                img.img-fluid.rounded-circle(src='img/brazil.jpg', alt='Image')
              .country-name
                a.text-white.fs-4(href='#') Brazil
          .col-lg-6.col-xl-3.mb-5.mb-xl-0.wow.fadeInUp(data-wow-delay='0.3s')
            .country-item
              .rounded.overflow-hidden
                img.img-fluid.w-100.rounded(src='img/country-2.jpg', alt='Image')
              .country-flag
                img.img-fluid.rounded-circle(src='img/india.jpg', alt='Image')
              .country-name
                a.text-white.fs-4(href='#') india
          .col-lg-6.col-xl-3.mb-5.mb-xl-0.wow.fadeInUp(data-wow-delay='0.5s')
            .country-item
              .rounded.overflow-hidden
                img.img-fluid.w-100.rounded(src='img/country-3.jpg', alt='Image')
              .country-flag
                img.img-fluid.rounded-circle(src='img/usa.jpg', alt='Image')
              .country-name
                a.text-white.fs-4(href='#') New York
          .col-lg-6.col-xl-3.mb-5.mb-xl-0.wow.fadeInUp(data-wow-delay='0.7s')
            .country-item
              .rounded.overflow-hidden
                img.img-fluid.w-100.rounded(src='img/country-4.jpg', alt='Image')
              .country-flag
                img.img-fluid.rounded-circle(src='img/italy.jpg', alt='Image')
              .country-name
                a.text-white.fs-4(href='#') Italy
          .col-12
            a.btn.btn-primary.border-secondary.rounded-pill.py-3.px-5.wow.fadeInUp(data-wow-delay='0.1s', href='#') More Countries
    // Countries We Offer End
    // Testimonial Start
    .container-fluid.testimonial.overflow-hidden.pb-5
      .container.py-5
        .section-title.text-center.mb-5.wow.fadeInUp(data-wow-delay='0.1s')
          .sub-style
            h5.sub-title.text-primary.px-3 OUR CLIENTS RIVIEWS
          h1.display-5.mb-4 What Our Clients Say
          p.mb-0
            | Discover why our clients trust us with their immigration and visa needs. Their reviews reflect our commitment to personalized service, transparent processes, and proven success. We share our clients' positive experiences, illustrating our dedication to making global journeys a reality.
        .owl-carousel.testimonial-carousel.wow.zoomInDown(data-wow-delay='0.2s')
          .testimonial-item
            .testimonial-content.p-4.mb-5
              p.fs-5.mb-0
                |"I was extremely impressed by the seamless, efficient visa service. Their expert guidance and personal touch made a complex process straightforward, allowing me to confidently pursue my dreams abroad."
              .d-flex.justify-content-end
                i.fas.fa-star.text-secondary
                i.fas.fa-star.text-secondary
                i.fas.fa-star.text-secondary
                i.fas.fa-star.text-secondary
                i.fas.fa-star.text-secondary
            .d-flex
              .rounded-circle.me-4(style='width: 100px; height: 100px;')
                img.img-fluid.rounded-circle(src='img/testimonial-1.jpg', alt='img')
              .my-auto
                h5 Person Name
                p.mb-0 Profession
          .testimonial-item
            .testimonial-content.p-4.mb-5
              p.fs-5.mb-0
                | "I was extremely impressed by the seamless, efficient visa service. Their expert guidance and personal touch made a complex process straightforward, allowing me to confidently pursue my dreams abroad."
                i.fas.fa-star.text-secondary
                i.fas.fa-star.text-secondary
                i.fas.fa-star.text-secondary
                i.fas.fa-star.text-secondary
                i.fas.fa-star.text-secondary
            .d-flex
              .rounded-circle.me-4(style='width: 100px; height: 100px;')
                img.img-fluid.rounded-circle(src='img/testimonial-2.jpg', alt='img')
              .my-auto
                h5 Person Name
                p.mb-0 Profession
          .testimonial-item
            .testimonial-content.p-4.mb-5
              p.fs-5.mb-0
                | "I was extremely impressed by the seamless, efficient visa service. Their expert guidance and personal touch made a complex process straightforward, allowing me to confidently pursue my dreams abroad."
              .d-flex.justify-content-end
                i.fas.fa-star.text-secondary
                i.fas.fa-star.text-secondary
                i.fas.fa-star.text-secondary
                i.fas.fa-star.text-secondary
                i.fas.fa-star.text-secondary
            .d-flex
              .rounded-circle.me-4(style='width: 100px; height: 100px;')
                img.img-fluid.rounded-circle(src='img/testimonial-3.jpg', alt='img')
              .my-auto
                h5 Person Name
                p.mb-0 Profession
    // Testimonial End
    // Training Start
    .container-fluid.training.overflow-hidden.bg-light.py-5
      .container.py-5
        .section-title.text-center.mb-5.wow.fadeInUp(data-wow-delay='0.1s')
          .sub-style
            h5.sub-title.text-primary.px-3 CHECK OUR TRAINING
          h1.display-5.mb-4 Get the Best Coacing Service Training with Our Travisa
          p.mb-0
            | Unlock your full potential with Travisa’s exceptional coaching service training. Experience dynamic expert-led sessions, hands-on learning, and personalized mentorship designed to empower your career growth and accelerate your professional success.
        .row.g-4
          .col-lg-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.1s')
            .training-item
              .training-inner
                img.img-fluid.w-100.rounded(src='img/training-1.jpg', alt='Image')
                .training-title-name
                  a.h4.text-white.mb-0(href='#') IELTS
                  a.h4.text-white.mb-0(href='#') Coaching
              .training-content.bg-secondary.rounded-bottom.p-4
                a(href='#')
                  h4.text-white IELTS Coaching
                p.text-white-50 Elevate your English proficiency with our IELTS Coaching. Expert-led sessions, strategic techniques, and personalized feedback ensure you achieve top scores.
                a.btn.btn-secondary.rounded-pill.text-white.p-0(href='#')
                  | Read More 
                  i.fa.fa-arrow-right
          .col-lg-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.3s')
            .training-item
              .training-inner
                img.img-fluid.w-100.rounded(src='img/training-2.jpg', alt='Image')
                .training-title-name
                  a.h4.text-white.mb-0(href='#') TOEFL
                  a.h4.text-white.mb-0(href='#') Coaching
              .training-content.bg-secondary.rounded-bottom.p-4
                a(href='#')
                  h4.text-white TOEFL Coaching
                p.text-white-50 Elevate your ITOEFL performance with our expert coaching. Enjoy personalized strategies, practice sessions, and proven methods to secure high scores.
                a.btn.btn-secondary.rounded-pill.text-white.p-0(href='#')
                  | Read More 
                  i.fa.fa-arrow-right
          .col-lg-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.5s')
            .training-item
              .training-inner
                img.img-fluid.w-100.rounded(src='img/training-3.jpg', alt='Image')
                .training-title-name
                  a.h4.text-white.mb-0(href='#') PTE
                  a.h4.text-white.mb-0(href='#') Coaching
              .training-content.bg-secondary.rounded-bottom.p-4
                a(href='#')
                  h4.text-white PTE Coaching
                p.text-white-50 Boost your PTE exam performance with expert coaching, personalized strategies, targeted practice, and comprehensive guidance, ensuring top scores and success.
                a.btn.btn-secondary.rounded-pill.text-white.p-0(href='#')
                  | Read More 
                  i.fa.fa-arrow-right
          .col-lg-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.7s')
            .training-item
              .training-inner
                img.img-fluid.w-100.rounded(src='img/training-4.jpg', alt='Image')
                .training-title-name
                  a.h4.text-white.mb-0(href='#') OET
                  a.h4.text-white.mb-0(href='#') Coaching
              .training-content.bg-secondary.rounded-bottom.p-4
                a(href='#')
                  h4.text-white OET Coaching
                p.text-white-50 Enhance your healthcare communication skills with our OET Coaching program. Our expert guidance, targeted practice, and comprehensive resources ensure success.
                a.btn.btn-secondary.rounded-pill.text-white.p-0(href='#')
                  | Read More 
                  i.fa.fa-arrow-right
          .col-12.text-center
            a.btn.btn-primary.border-secondary.rounded-pill.py-3.px-5.wow.fadeInUp(data-wow-delay='0.1s', href='#') View More
  
    // Training End
    // Contact Start
    .container-fluid.contact.overflow-hidden.pb-5
      .container.py-5
        .office.pt-5
          .section-title.text-center.mb-5.wow.fadeInUp(data-wow-delay='0.1s')
            .sub-style
              h5.sub-title.text-primary.px-3 Worlwide Offices
            h1.display-5.mb-4 Explore Our Office Worldwide
            p.mb-0
              | Discover our worldwide offices offering unparalleled support for all your immigration and visa needs. Our global presence provides personalized, expert assistance in every region. Explore our local branches and experience the perfect blend of local insight with a global network.
          .row.g-4.justify-content-center
            .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.1s')
              .office-item.p-4
                .office-img.mb-4
                  img.img-fluid.w-100.rounded(src='img/office-2.jpg', alt='')
                .office-content.d-flex.flex-column
                  h4.mb-2 Australia
                  a.text-secondary.fs-5.mb-2(href='#') +971509724278
                  a.text-muted.fs-5.mb-2(href='#') alhadaftravelajm@gmail.com
                  p.mb-0
                    | Shop #09 Near Lucky Round About Industrial Area 2, Ajman UAE
            .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.3s')
              .office-item.p-4
                .office-img.mb-4
                  img.img-fluid.w-100.rounded(src='img/office-1.jpg', alt='')
                .office-content.d-flex.flex-column
                  h4.mb-2 Canada
                  a.text-secondary.fs-5.mb-2(href='#') +971509724278
                  a.text-muted.fs-5.mb-2(href='#') alhadaftravelajm@gmail.com
                  p.mb-0
                    | Shop #09 Near Lucky Round About Industrial Area 2, Ajman UAE
            .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.5s')
              .office-item.p-4
                .office-img.mb-4
                  img.img-fluid.w-100.rounded(src='img/office-3.jpg', alt='')
                .office-content.d-flex.flex-column
                  h4.mb-2 United Kingdom
                  a.text-secondary.fs-5.mb-2(href='#') +971509724278
                  a.text-muted.fs-5.mb-2(href='#') alhadaftravelajm@gmail.com
                  p.mb-0
                    | Shop #09 Near Lucky Round About Industrial Area 2, Ajman UAE
            .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.7s')
              .office-item.p-4
                .office-img.mb-4
                  img.img-fluid.w-100.rounded(src='img/office-4.jpg', alt='')
                .office-content.d-flex.flex-column
                  h4.mb-2 India
                  a.text-secondary.fs-5.mb-2(href='#') +971509724278
                  a.text-muted.fs-5.mb-2(href='#') alhadaftravelajm@gmail.com
                  p.mb-0
                    | Shop #09 Near Lucky Round About Industrial Area 2, Ajman UAE
    // Contact End
    // Footer Start
    .container-fluid.footer.py-5.wow.fadeIn(data-wow-delay='0.2s')
      .container.py-5
        .row.g-5
          .col-md-6.col-lg-6.col-xl-3
            .footer-item.d-flex.flex-column
              h4.text-secondary.mb-4 Contact Info
              a(href='')
                i.fa.fa-map-marker-alt.me-2
                | Shop #09 Near Lucky Round About Industrial Area 2, Ajman UAE
              a(href='')
                i.fas.fa-envelope.me-2
                |  alhadaftravelajm@gmail.com
              a(href='')
                i.fas.fa-phone.me-2
                | +971509724278
             
              .d-flex.align-items-center
                i.fas.fa-share.fa-2x.text-secondary.me-2
                a.btn.mx-1(href='')
                  i.fab.fa-facebook-f
                a.btn.mx-1(href='')
                  i.fab.fa-twitter
                a.btn.mx-1(href='')
                  i.fab.fa-instagram
                a.btn.mx-1(href='')
                  i.fab.fa-linkedin-in
          .col-md-6.col-lg-6.col-xl-3
            .footer-item.d-flex.flex-column
              h4.text-secondary.mb-4 Opening Time
              .mb-3
                h6.text-muted.mb-0 Mon - Friday:
                p.text-white.mb-0 09.00 am to 07.00 pm
              .mb-3
                h6.text-muted.mb-0 Satday:
                p.text-white.mb-0 10.00 am to 05.00 pm
              .mb-3
                h6.text-muted.mb-0 Vacation:
                p.text-white.mb-0 All Sunday is our vacation
          .col-md-6.col-lg-6.col-xl-3
            .footer-item.d-flex.flex-column
              h4.text-secondary.mb-4 Our Services
              a(href='#')
                i.fas.fa-angle-right.me-2
                |  Business
              a(href='#')
                i.fas.fa-angle-right.me-2
                |  Evaluation
              a(href='#')
                i.fas.fa-angle-right.me-2
                |  Migrate
              a(href='#')
                i.fas.fa-angle-right.me-2
                |  Study
              a(href='#')
                i.fas.fa-angle-right.me-2
                |  Counselling
              a(href='#')
                i.fas.fa-angle-right.me-2
                |  Work / Career
          .col-md-6.col-lg-6.col-xl-3
            .footer-item
              h4.text-secondary.mb-4 Newsletter
              p.text-white.mb-3
                | Dolor amet sit justo amet elitr clita ipsum elitr est.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .position-relative.mx-auto.rounded-pill
                input.form-control.border-0.rounded-pill.w-100.py-3.ps-4.pe-5(type='text', placeholder='Enter your email')
                button.btn.btn-primary.rounded-pill.position-absolute.top-0.end-0.py-2.mt-2.me-2(type='button') SignUp
    // Footer End
    // Copyright Start
    .container-fluid.copyright.py-4
      .container
        .row.g-4.align-items-center
          .col-md-6.text-center.text-md-start.mb-md-0
            span.text-white
              a.border-bottom.text-white(href='#')
                i.fas.fa-copyright.text-light.me-2
                | AL-HADDAF
              | , All right reserved.
          .col-md-6.text-center.text-md-end.text-white
            // /*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/
            // /*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/
            // /*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/
            | Designed By 
            a.border-bottom.text-white(href='https://htmlcodex.com') Farukh Sultan
    // Copyright End
    // Back to Top
    a.btn.btn-primary.btn-lg-square.back-to-top(href='#')
      i.fa.fa-arrow-up
    // JavaScript Libraries
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js')
    script(src='lib/wow/wow.min.js')
    script(src='lib/easing/easing.min.js')
    script(src='lib/waypoints/waypoints.min.js')
    script(src='lib/counterup/counterup.min.js')
    script(src='lib/owlcarousel/owl.carousel.min.js')
    // Template Javascript
    script(src='js/main.js')