//- //- layout.pug
//- doctype html
//- html(lang="en")
//-   head
//-     block head
//-   body
//-     block spinner
//-     block topbar
//-     block navbar
//-     block header
//-     block footer
//-     block copyright
//-     block scripts
